In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Colab/setik/dataset/vehicles.csv")

In [ ]:
for i in df.columns:
  print(i)

id
url
region
region_url
price
year
manufacturer
model
condition
cylinders
fuel
odometer
title_status
transmission
VIN
drive
size
type
paint_color
image_url
description
county
state
lat
long
posting_date

In [ ]:
df_filtered = df.filter([
    'price',
    'year',
    'manufacturer',
    'model',
    'condition',
    'cylinders',
    'fuel',
    'odometer',
    'transmission',
    'drive',
    'type',
    'paint_color',
    'posting_date'
]);

In [ ]:
df_filtered.to_csv("/content/drive/My Drive/Colab/setik/dataset/01-remove-features.csv", index=False)

In [ ]:
df.shape

(426880, 26)

In [ ]:
df_filtered.shape

(426880, 13)